body {
    background-color: #4f4949;
}

.title {
    text-align: center;
    margin-top: 100px;
    color: #fff;
    font: 50px 'Roboto', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 200px;
}

.square {
    background-color: #fff;
    border: 0px;
}

.clear {
    display: block;
    margin-right: 25px;
    margin-top: 50px;
    width: 100px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #000;
    font: 20px 'Roboto', sans-serif;
}

.pixels {
    display: block;
    margin-left: 25px;
    margin-top: 50px;
    width: 100px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #000;
    font: 20px 'Roboto', sans-serif;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}